<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.khj_pc.gaonnuri">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.DialogActivity"
            android:label="DialogActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar.ChatActivity" />
        <activity
            android:name=".Activity.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.BoardActivity"
            android:label="@string/title_activity_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.LoginActivity"
            android:label="어서와"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Activity.RegisterActivity"
            android:label="RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.BoardDetailActivity"
            android:label="@string/title_activity_board_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.DetailActivity"
            android:label="DetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CommentActivity"
            android:label="@string/title_activity_comment" />
        <activity
            android:name=".Activity.WriteActivity"
            android:label="@string/title_activity_write" />
        <activity
            android:name=".Activity.ChartActivity"
            android:label="@string/title_activity_chart" />
        <activity
            android:name=".Activity.SurveyCreateActivity"
            android:label="@string/title_activity_survey_create" />
        <activity
            android:name=".Activity.SurveyDoActivity"
            android:label="@string/title_activity_survey_do" />
        <activity
            android:name=".Activity.SurveyChartActivity"
            android:label="@string/title_activity_survey_chart"></activity>
        <activity
            android:name=".Activity.SplashActivity"
            android:label="어서와"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>